<!-- Main Body -->
<main class="container mb-5" style="margin-top:8rem;margin-bottom:5rem;">
    <!-- <h1 class="display-4">Welcome to the <%= title %> Page</h1> -->
    <%- include (page + '.ejs') %>
</main>