<div class="display-1 d-flex justify-content-center m-5">Hi There!</div>
<div class="m-5">
    <span class="display-4">I am <strong class="display-1 fw-bolder">Dean Pinlac</strong></span>
    <!-- <span class="font-weight-bold"></span> -->
</div>
<div class="d-flex justify-content-end my-5">
    <div>
        <div class="display-4 d-flex justify-content-center"><span>Solving <strong>REAL</strong> problems</span> </div>
        <div class="display-5 d-flex justify-content-center">using</div>
        <div class="display-3 d-flex justify-content-center"><strong class="fw-bolder">SOFTWARE DEVELOPMENT</strong></div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-light btn my-4 border border-dark" href="/about" role="button">
        Learn More
        <i class="fas fa-arrow-right"></i>
    </a>
</div>
