
<div class="display-2 d-flex justify-content-center fw-bolder">About</div>
<div class="d-flex justify-content-end">
</div>
<div class="d-flex flex-wrap">
    <div class="h-100 w-75 py-4 my-2 bg-light rounded-3">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div class="h-100 w-25 mx-5 bg-light rounded-3 d-flex justify-content-center">
                <img class="img-fluid" style="width:220px" src="/assets/images/portfolio.png" alt="dean_portrait">
            </div>
            <div class="fs-5">
                <div class="d-flex justify">
                    <div style="width:80px;">Name: </div>
                    <div class="me-auto">Dean Carlo Pinlac</div>
                </div>
                <div class="d-flex justify">
                    <div style="width:80px;">Age: </div>
                    <div class="me-auto"><%= age %></div>
                </div>
                <div class="d-flex justify">
                    <div style="width:80px;">Country: </div>
                    <div class="me-auto">Philippines</div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="w-75 py-4 px-2 bg-light rounded-3">
            <div class="d-flex flex-wrap-reverse justify-content-around">
                <div class="w-75">
                    <p class="fs-5">
                        I am a graduate and licensed Electronics Engineer in the Philippines.
                        However, my passion lies in Computers and Software Programming.
                        In 2018, I got a position of Software Engineer at Samsung Research Philippines.
                        I worked full-time for almost 2 years and gained a lot of experience in the field. I love
                        how the technology advances every time; additionally, I would love to be part
                        of the innovators in the world.
                    </p>
                </div>
                <div class="bg-light rounded-3 d-flex justify-content-center">
                    <img class="img-fluid" style="width:180px" src="/assets/images/power_pose.png" alt="dean_portrait">
                </div>
            </div>
        </div>
    </div>
</div>
    

