<div class="h-100 p-5 bg-light border rounded-3">
    <div class="row">
        <div class="col-1 me-2"><i class="fas fa-mobile-alt fa-3x"></i></div>
        <div class="col d-flex align-items-center">+1 (647) 616-3701</div>
    </div>
    <div class="row">
        <div class="col-1 me-2"><i class="fab fa-github fa-3x"></i></div>
        <div class="col d-flex align-items-center"><a href="https://github.com/Deaniesaur" target="_blank">https://github.com/Deaniesaur</a></div>
    </div>
    <div class="row">
        <div class="col-1 me-2"><i class="fab fa-facebook fa-lg"></i></i></div>
        <div class="col d-flex align-items-center"><a href="https://www.facebook.com/Deaniesaur" target="_blank">https://www.facebook.com/Deaniesaur</a></div>
    </div>
</div>