<div class="display-5 m-5 d-flex justify-content-center fw-bld">
    <div>
        <div>
            <span class="display-4 fst-italic">Realize</span> your ideas through
        </div>
        <div class="ms-5">
            <span class="display-4 fst-italic fw-bold">Software Applications</span> 
        </div>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-around">
    <div class="card mt-5 pt-5 border-5" style="width: 18rem;">
        <i class="fas fa-laptop-code fa-7x mx-auto"></i>
        <div class="card-body">
            <h5 class="card-title text-center">Full Stack Programming</h5>
        </div>
    </div>
    <div class="card mt-5 pt-5 border-5" style="width: 18rem;">
        <i class="far fa-credit-card fa-7x mx-auto"></i>
        <div class="card-body">
            <h5 class="card-title text-center">Web Development</h5>
        </div>
    </div>
    <div class="card mt-5 pt-5 border-5" style="width: 18rem;">
        <i class="far fas fa-mobile-alt fa-7x mx-auto"></i>
        <div class="card-body">
            <h5 class="card-title text-center">Mobile Apps</h5>
        </div>
    </div>
    <div class="card mt-5 pt-5 border-5" style="width: 18rem;">
        <i class="far fas fa-cloud fa-7x mx-auto"></i>
        <div class="card-body">
            <h5 class="card-title text-center">Cloud Based</h5>
        </div>
    </div>
    <div class="card mt-5 pt-5 border-5" style="width: 18rem;">
        <i class="far fas fa-chart-line fa-7x mx-auto"></i>
        <div class="card-body">
            <h5 class="card-title text-center">Data Analytics</h5>
        </div>
    </div>
    <div class="card mt-5 pt-5 border-5" style="width: 18rem;">
        <i class="far fas fa-tools fa-7x mx-auto"></i>
        <div class="card-body">
            <h5 class="card-title text-center">Maintenance</h5>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-5">
    <a class="btn btn-dark btn-lg" href="/contact" role="button">Let's Talk about it!</a>
</div>
<div class="bg-light rounded-3 d-flex justify-content-center mt-3">
    <div class="h-100 w-75 p-5 mx-5 my-2">
        <div class="d-flex justify-content-center display-5 my-3">Technologies</div>
        <div class="d-flex flex-wrap justify-content-around">
            <div class="m-2">
                <div class="mx-auto"><i class="java-icon mx-3"></i></div>
                <div class="fw-bold mx-auto text-center">Java</div>
            </div>
            <div class="m-2">
                <div class="mx-auto"><i class="javascript-icon mx-3"></i></div>
                <div class="fw-bold mx-auto text-center">JS</div>
            </div>
            <div class="m-2">
                <div class="mx-auto"><i class="react-icon mx-3"></i></div>
                <div class="fw-bold mx-auto text-center">React</div>
            </div>
            <div class="m-2">
                <div class="mx-auto"><i class="python-icon mx-3"></i></div>
                <div class="fw-bold mx-auto text-center">Python</div>
            </div>
            <div class="m-2">
                <div class="mx-auto"><i class="android-icon mx-3"></i></div>
                <div class="fw-bold mx-auto text-center">Android</div>
            </div>
            <div class="m-2">
                <div class="mx-auto"><i class="oracle-sql-icon mx-3"></i></div>
                <div class="fw-bold mx-auto text-center">OracleSQL</div>
            </div>
            <div class="m-2">
                <div class="mx-auto"><i class="mongodb-icon mx-3"></i></div>
                <div class="fw-bold mx-auto text-center">MongoDB</div>
            </div>
            <div class="m-2">
                <div class="mx-auto"><i class="fab fa-aws fa-3x"></i></div>
                <div class="fw-bold mx-auto text-center">AWS</div>
            </div>
        </div>
    </div>
</div>