<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="/content/app.css">
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <!-- JavaScript Section -->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../client/scripts/app.js"></script>
</body>
</html>