<div class="d-flex justify flex-wrap flex-lg-nowrap w-100">
    <div class="mw-100 my-2">
        <div>
            <h2>Description</h2>
        </div>
        <div class="m-3">
            <p style="text-align:justify;">
                This is a RESTful API project made using Spring framework and Lombok. Spring is one of the most popular application development framework use in Java.
                Spring handles the infrastructure so developers can focus on the application. It eliminates most of the boilerplates hence the faster and easier Java application
                development. In this demo, I showed how to make a simple RESTful API. Check the code in Github to see how few the lines of code to make this application.
            </p> 
        </div>
        <h2 class="w-100">Postman Testing</h2>
        <div class="w-100 d-flex justify-content-center">
            <div id="carousel1" class="carousel slide w-100 mx-3">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-100" src="/assets/images/spring_rest_demo1.PNG" alt="Demo 1">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="/assets/images/spring_rest_demo2.PNG" alt="Demo 1">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="/assets/images/spring_rest_demo3.PNG" alt="Demo 1">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="w-75 my-2">
        <div>
            <h2>Tech Stack</h2>
        </div>
        <div>
            <div>
                <i class="java-icon mx-3"></i>
                <span class="fw-bold">Java</span>
            </div>
            <div>
                <i class="spring-icon mx-3"></i>
                <span class="fw-bold">Spring</span>
            </div>
            <div>
                <i class="lombok-icon mx-3"></i>
                <span class="fw-bold">Lombok</span>
            </div>
        </div>
        <div class="mt-5 d-flex align-items-center">
            <a class="btn btn-dark btn-lg mb-5" href="https://github.com/Deaniesaur/spring-rest-demo" target="_blank" role="button">View Code in Github</a>
        </div>
    </div>
</div>