<div class="d-flex justify-content-center flex-sm-wrap flex-lg-nowrap w-100">
    <div class="w-100 my-2">
        <div>
            <h2>Description</h2>
        </div>
        <div class="m-3">
            <p style="text-align:justify;">
                Enhanced Cycling System with Interactive Mobile App is a project developed by our Thesis Group for Cyclists. It is a mobile application with four distinct features.
                These are Messaging, Events, VOIP, and Navigation. The features are developed to promote and enhance group cycling experience.
            </p> 
        </div>
        <h2 class="w-100">Video</h2>
        <div class="w-100 d-flex justify-content-center">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/S-Ik8CpxROw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="w-50 my-2 mx-5">
        <div>
            <h2>Tech Stack</h2>
        </div>
        <div>
            <div>
                <i class="java-icon mx-3"></i>
                <span class="fw-bold">Java</span>
            </div>
            <div>
                <i class="android-studio-icon mx-3"></i>
                <span class="fw-bold">Android Studio</span>
            </div>
            <div class="align-middle">
                <i class="sinch-icon mx-3"></i>
                <span class="fw-bold">Sinch</span>
            </div>
            <div>
                <i class="mapbox-icon mx-3"></i>
                <span class="fw-bold">MapBox</span>
            </div>
            <div>
                <i class="google-maps-icon mx-3"></i>
                <span class="fw-bold">Google Maps</span>
            </div>
            <div>
                <i class="firebase-icon mx-3"></i>
                <span class="fw-bold">Google Firebase</span>
            </div>
        </div>
    </div>
</div>