/* your custom css goes here */
logo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  padding: 5px 20px;
}

emphasized {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 72px;
  font-style: block;
  font-variant: normal;
  font-weight: 700;
  padding: 5px;
}

.firebase-icon {
  background: url("/assets/images/firebase_icon.png") no-repeat;
  height: 40px;
  width: 30px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.android-studio-icon {
  background: url("/assets/images/android_studio_icon.png") no-repeat;
  height: 40px;
  width: 30px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.sinch-icon {
  background: url("/assets/images/sinch_icon.png") no-repeat;
  height: 40px;
  width: 50px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.mapbox-icon {
  background: url("/assets/images/mapbox_icon.png") no-repeat;
  height: 35px;
  width: 35px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.google-maps-icon {
  background: url("/assets/images/gmaps_icon.png") no-repeat;
  height: 40px;
  width: 30px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.java-icon {
  background: url("/assets/images/java_icon.png") no-repeat;
  height: 40px;
  width: 30px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.spring-icon {
  background: url("/assets/images/spring_icon.png") no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.lombok-icon {
  background: url("/assets/images/lombok_icon.png") no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.c-sharp-icon {
  background: url("/assets/images/c_sharp_icon.png") no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-size: contain;
  /* Other styles here */
}

.carousel .carousel-inner img {
  width: 100%;
  height: 30em;
  object-fit: contain;
  overflow: hidden;
}